.user-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__photo{
    width: 100px;
    height: 100px;
    border-radius: 80px;
  }
  &__item{
    padding: 5px;
    margin: 5px;
  }
  &__allergie-photo{
    width: 50px;
  }
}
@media only screen and (min-width: 600px) {
  .user-data{
    margin-top: 100px;
    &__items{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}