@import "../Mixins/mixins";

.Login {
  @include flex-column;
  max-height: 100vh;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}
.TitleLogin {
  @include flex-column;
  margin-top: 20%;
  h1 {
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 3%;
  }
  h3 {
    font-size: 1em;
    color: #cfcfcf;
  }
}
.Form {
  @include flex-column;
  width: 90%;
  div {
    margin-top: 8%;
  }
}
.CopyRight {
  position: absolute;
  // margin: 5px;
  bottom: 0%;
  margin-bottom: 2%;
}
.nuevo-registro{
  margin-bottom: 40px;
}
.Link {
  color: #2196f3 !important;
}

@media only screen and (min-width: 600px) {
	.Login-img{
		margin-top: 20px;
	}
  .TitleLogin {
    @include flex-column;
    margin-top: 20px;
  }
}
