@import "../Mixins/mixins";

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-height: 100vh;
  & img{
    width: 300px;
  }
}
.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}