.Register{
  margin-top: 20px;
}
.TitleContact {
    margin: 2% 6% 2% 6%;
  h1 {
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 1%;
  }
  h3 {
    font-size: 1em;
    color: #CFCFCF;
    margin-top: 2%;
  }
  }

  .ContactLink {
    margin-top: 2%;
    font-size: 0.86rem;
    border-bottom: 1px solid;
  }