@import "../Mixins/mixins";

.user-data {
  @include flex-column;
  &__photo{
    width: 100px;
    height: 100px;
    border-radius: 80px;
  }
  &__item {
    padding: 5px;
    margin: 5px;
  }
  &__allergie-photo {
    width: 50px;
  }
}

.MuiButton-root {
  margin: 2%;
}

.Sos {
  max-height: 100vh;
  @include flex-column;
}

.LogoSos {
  margin-top: 8%;
  width: 100%;
  @include flex;
  position: absolute;
  bottom: 4%;
  img {
    width: 50%;
  }
}

h4 {
  margin: 4.5%;
}