@import "../Mixins/mixins";

.Splash {
  @include flex-column;
  max-height: 100vh;
}
.Title {
  @include flex-column;
  margin-top: 50px;
  h1 {
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 3%;
  }
  h3 {
    font-size: 1.5em;
    color: #cfcfcf;
  }
}
.Img {
  @include flex;
  margin-top: 20px;
  bottom: 0%;
  touch-action: manipulation;
  position: absolute;
  img {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  .Img {
    position: relative;
  }
}
