@import "../Mixins/mixins";

.form {
  @include flex-column;
  color: black;
  &__input{
    margin: 5px;
    padding: 3px;
  }
  &__error{
    color:red;
  }
}
.initials-container{
  @include flex-wrap;
  border-radius: 15px;
  margin: 30px;
  padding: 10px;
  background: linear-gradient(45deg, white, #CFCFCF);
  &__item{
    padding: 10px;
    & button{
      border-radius: 50%;
      width: 70px;
      height: 70px;
      border: none;
      color: white;
      background: linear-gradient(#FA7F9B, #bb6c7f);
      box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
    }
  }
}
.user-allergens-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2%;
  width: 350px;
  &__item{
    margin:5px;
    padding:5px;
    width: 150px;
    border: none;
    color: white;
    background: linear-gradient(rgba(19, 182, 204, 0.8), rgba(38,199,220,.8));
    box-shadow: 0 3px 5px 2px #CFCFCF;
  }
}

.TitleAllergens {
  margin: 31% 6% 10% 6%;
h1 {
  font-size: 2em;
  font-weight: bolder;
  margin-bottom: 3%;
}
h3 {
  font-size: 1em;
  color: #CFCFCF;
}
}

.AllergensCopyRight {
  margin-bottom: 2%;
}

.AllergensNavbar {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0%;
  position: fixed;
  z-index: 100;
  background: white;
  width: 94%;
  height: 40px;
  span {
		color: #26c7dc;
	}
}
@media only screen and (min-width: 600px) {
  .initials-container{
    display:none;
  }
  .TitleAllergens {
    margin: 0px;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .allergens-container{
    @include flex;
    flex-wrap: wrap;
    &-item{
      min-height: 300px;
      margin: 10px;
    }
  }
  .user-allergens-container{
    width: 550px;
  }
  .LogoSos{
    & img{
      width: 300px;
    }
  }
}