@import "../Mixins/mixins";

.FoodContainer {
  margin-top: 20%;
}

.food-item {
  @include container-items;
}
.txt-alert {
  color: red;
}
.items-container {
  @include flex-wrap;
  &__items {
    @include container-items;
  }
}
.container-search-input {
  margin: 10px;
}

@media only screen and (min-width: 600px) {
  .FoodContainer {
    margin-top: 20px;
  }
  .margin {
    margin: 10px;
  }
  .container-search-input {
    margin-top: 100px;
  }
}
